/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */

.blue-background{
  background-color: rgb(0, 48, 143);
  color: white;
}

.white-background{
  background-color: white;
}

.image-background{
  background-image: url("../images/brick_wall.jpg");
}

.silver-background{
  background-color: silver;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.web-title {
  font-style: bold;
  font-size: 50px;
  font-family: candara;

}

.section-title {
  font-style: bold;
  font-size: 20px;
  font-family: candara;
}

.contact-info {
  font-style: bold;
  font-size: 30px;
  font-family: candara;
  color: limegreen;
}


.construction {
  font-style: bold;
  font-size: 60px;
  font-family: candara;
  color: rgb(0, 48, 143);
}

.center-align {
  padding-top: 20px;
  position: relative;
  left: 5%;
}

.right-align {
  position: absolute;
  right: 5%;
}

.box {
  background: white;
  border-radius: 15px
}

.box1 {
  background: white;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.padding_1 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.left_padding {
  padding-left: 10px;
}

.long_left {
  padding-left: 100px;
}

.right_padding {
  padding-right: 10px;
}

.top_padding {
  padding-top: 10px;
}

.bottom_padding {
  padding-bottom: 10px;
}


.header {
  padding-top: 40px;
  padding-left: 10px;
  font-size: 40px;
  font-family: candara;
  font-weight: bold;
  color: rgb(0, 48, 143);
}

.h2 {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  font-family: candara;
  font-weight: bold;
  color: rgb(60, 125, 255);
}

.site_font {
  font-family: candara;
  font-size: 24px;
}

.description_font {
  font-family: candara;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Three columns with the middle one taking up more space */
  background-color: rgb(0, 36, 107); /* Background color for the header */
  color: #fff; /* Text color */
  padding: 30px; /* Padding for the header */
  align-items: center; /* Center-align items vertically */
}

/* Define styles for grid items (header cells) */
.grid-header-item {
  text-align: center; /* Center-align the text in each cell */
  padding: 10px; /* Padding for each cell */
  border-bottom: 2px solid transparent; /* Add an underline that's initially transparent */
  transition: border-color 0.3s; /* Smooth transition for the underline */
}

/* Hover effect for grid items */
.grid-header-item:hover {
  border-color: #fff; /* Change the underline color on hover */
}

/* Additional styling for specific cells if needed */
.grid-header-item:nth-child(2) {
  font-weight: bold; /* Make the middle cell text bold */
}
